@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

.serverContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;
    margin: auto;

}

.TitleServer {
    width: 100%;
    height: auto;
    background-color: #000000;
    border-bottom: thick double rgb(185, 163, 62);
    margin: auto;
  }

.gridServer {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
   justify-content: center;
    gap: 3vh; 
    align-items: center;
    margin-top: 2vh;
}

.serverButton {
    border-radius: 100%;
    padding: auto;
    height: 10vh;
    width: 10vh;
    color: #000000;
    background-color: #e9eb8b;
    font-family: 'Fredericka the Great', cursive;
    font-size: 2vh;
    border-color:rgb(185, 163, 62);
}

.serverButton:hover{
    transition: color 2s;
    transition: background-color 1s;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

@media (min-width: 900px) {
    .gridServer{
    grid-template-columns:repeat(6, 10vh);
    gap: 15vh;
}
}